body {
  font-family: var(--font);
  margin: 0;
  background: #f2f2f2;
  color: #222;
}

header {
  background: #0d6efd;
  color: white;
  padding: 10px 0;
  border-bottom: 3px solid #0b5ed7;
}

:root {
  --font: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0 10px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 6px 10px;
}

.menu a.active {
  background: #0b5ed7;
}

main {
  max-width: 1000px;
  margin: 15px auto;
  background: white;
  padding: 10px;
  border: 1px solid #ddd;
}

footer {
  text-align: center;
  padding: 10px;
  background: #eee;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

label {
  font-weight: bold;
}

.gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.gallery img {
  width: 300px;
  height: 180px;
  object-fit: cover;
  border: 1px solid #ccc;
}

input[type="text"],
select,
textarea {
  width: 100%;
  max-width: 500px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error {
  color: #d9534f;
}

.ok {
  color: #198754;
}

.hobbies {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
}

.hobbies li {
  height: 120px; /* wielkość kafelka */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 0 5px black;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;
  cursor: pointer;
}

.hobbies li:hover {
  transform: scale(1.05);
}

.hobbies li.gym {
  background-image: url("src/Gym.webp");
}

.hobbies li.fishing {
  background-image: url("src/Fishing.jpeg");
}

.hobbies li.music {
  background-image: url("src/Music.jpeg");
}

.hobbies li.motorcycle {
  background-image: url("src/Motorcycles.jpg");
}

@media (max-width: 600px) {
  .menu {
    flex-wrap: wrap;
  }
  .gallery img {
    width: 100%;
    height: 200px;
  }
}
